<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Wynk</title>
    {{!-- <link rel="stylesheet" href="output.css"> --}}
</head>

<body>
    <!-- <div class="bg-gray-300">
        <div class="mx-auto w-3/5 p-16 font-open text-customBlack space-y-4 bg-white">
            <div class="text-lg">
                Hi,
            </div>
            <div>
                Someone is trying to access your account
            </div>
            <div>
                Let’s make sure this is you.
            </div>
            <div>
                Please enter this verification code to change your password -
            </div>
            <div>
                {{code}}
            </div>
            <div class="flex flex-col">
                <div>Thanks</div>
                <div>Pratyush Goel</div>
                <a href="" class="hover:text-gray-400 transition">Wynk</a>
            </div>
        </div>
    </div> -->
    <div style="background-color: rgb(209,213,219);">
        <div style="margin-left: auto;
        margin-right:auto;
        width:60%;
        padding:4rem;
        font-family: 'Open Sans',sans-serif;
        color:rgb(55, 53, 47);
        background-color: white;
        font:500 ">
            <div style="  font-size: 1.125rem;
            line-height: 1.75rem;
            font: 600;">
                Hi {{username}},
            </div>
            <div style="margin-top: 1rem;">
                Someone is trying to access your account
            </div>
            <div style="margin-top: 1rem;">
                Let’s make sure this is you.
            </div>
            <div style="margin-top: 1rem;">
                Please enter this verification code to change your password -
            </div>
            <div style="margin-top: 1rem; 
            font: 700; 
            font-size: 1.125rem;
            line-height: 1.75rem;
            letter-spacing: 0.025em; ">
                {{code}}
            </div>
                <div style="margin-top: 1rem;">Thanks</div>
                <div>Pratyush Goel</div>
                <a href="bit.ly/wynk-pratyush" target="blank" style="text-decoration: none; color:rgb(156, 163, 175);">Wynk</a>
        </div>
    </div>
    </body>

</html>