<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Wynk</title>
    {{!-- <link rel="stylesheet" href="output.css"> --}}
</head>

<body>
    <!-- <div class="bg-gray-300">
        <div class="mx-auto w-3/5 p-16 font-open text-customBlack space-y-4 bg-white text-center">
            <div class="text-center text-lg">
                Hi {{username}},
            </div>
            <div>
                Welcome to Wynk. It's great to have you onboard.
            </div>
            <div class="h-1/5">
                <img src="./images/logo.jpg" alt="Wynk logo" class="mx-auto h-96">
            </div>
            <div>
                We hope you have a wonderful experience.
            </div>
            <div>
                In case of any queries or suggestions, feel free to <a href="mailto:pratyushg444@gmail.com"
                    class="hover:text-gray-400 transition">contact us</a>.
            </div>
            <div class="flex flex-col pt-2">
                <div>Thanks</div>
                <div>Pratyush Goel</div>
                <a href="" class="hover:text-gray-400 transition">Wynk</a>
            </div>
        </div>
    </div> -->
    <div style="background-color: rgb(209, 213, 219);">
        <div style="margin-left: auto;
        margin-right:auto;
        width:60%;
        padding:4rem;
        font-family: 'Open Sans',sans-serif;
        color:rgb(55, 53, 47);
        background-color: white;
        font:500;">
            <div style="  font-size: 1.125rem;
            line-height: 1.75rem;
            font: 600;">
                Hi {{username}},
            </div>
            <div style="margin-top: 1rem;">
                Welcome to Wynk. It's great to have you onboard.
            </div>
            {{!-- <div style="margin-top: 1rem;">
                <img src="./images/logo.jpg" alt="Wynk logo" class="mx-auto h-96" style="margin-left: auto; margin-right: auto; height: 24rem;">
            </div> --}}
            <div style="margin-top: 1rem;">
                We hope you have a wonderful experience.
            </div>
            <div style="margin-top: 1rem;">
                In case of any queries or suggestions, feel free to <a href="mailto:pratyushg444@gmail.com"
                style="text-decoration: none; color:rgb(126, 132, 143);" target="blank">contact us</a>.
            </div>
                <div style="margin-top: 1rem; padding-top: 0.5rem;">Thanks,</div>
                <div>Pratyush Goel</div>
                <a href="bit.ly/wynk-pratyush" style="text-decoration: none; color:rgb(156, 163, 175);">Wynk</a>
        </div>
    </div>
</body>

</html>